/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* general */
font-family: 'Noto Sans',
sans-serif;


:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

/* header */
header {
	background-color: #255ee9;
}
.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    min-height: 300px;
}

/* main */

.bg-odd {
    background-color: #ffffff;
}

.bg-even {
    background-color: #f6f6f6;
}
.left {
    width: 60%;
}
.right {
    width: 40%;
}
.jumbo>div, cta {
    width: 60%;
    margin: auto;
    text-align: center;
}

/* footer */
footer {
    background-color: #23272a;
}

/* utility */
.container {
    max-width: 1200px;
    margin: auto;
}
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.row-reverse{
    flex-direction: row-reverse;
}
